<h1>Here are all the restaurants</h1>

<%= link_to "add a restaurant", restaurants_new_path%>

<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.name %></p>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.category %></p>
  <%= link_to "See restaurant details", restaurant_path(restaurant), class: "btn btn-primary" %>
<% end %>
