<h1>Write a review here</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>

<%= link_to "go back to the restaurant", restaurant_path(@restaurant) %>
